<div class="feed-header">
  <!-- Button to navigate to the article creation page -->
  <button mat-raised-button color="primary" routerLink="/add-article">
    Créer un article
  </button>
  <div class="sort-container">
    <!-- Button that triggers the sort options menu -->
    <button mat-button [matMenuTriggerFor]="sortMenu">
      Trier par
      <mat-icon>{{
        sortOrder === "desc" ? "arrow_downward" : "arrow_upward"
      }}</mat-icon>
    </button>
  </div>
</div>

<mat-menu #sortMenu="matMenu">
  <!-- Option to sort by most recent (descending) -->
  <button mat-menu-item (click)="changeSortOrder('desc')">
    Plus récent <mat-icon>arrow_downward</mat-icon>
  </button>
  <!-- Option to sort by oldest first (ascending) -->
  <button mat-menu-item (click)="changeSortOrder('asc')">
    Plus ancien <mat-icon>arrow_upward</mat-icon>
  </button>
</mat-menu>

<div class="content grid">
  <!-- Loop through articles and display each in a card -->
  <mat-card
    *ngFor="let article of articles"
    (click)="ArticleDetail(article.id)"
  >
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle
      >{{ article.createdAt | date : "dd/MM/yyyy à HH:mm" }} -
      {{ article.author.username }}</mat-card-subtitle
    >
    <mat-card-content>
      {{ article.content }}
    </mat-card-content>
  </mat-card>
</div>
