<div class="content grid">
  <!-- Create a card for each subject-->
  <mat-card *ngFor="let subject of subjects">
    <mat-card-title>{{ subject.name }}</mat-card-title>

    <!--<mat-card-content>
      {{ subject.content }}
    </mat-card-content>-->

    <div class="subscribe-container">
      <!-- If the user is subscribed to the subject, show the "check" symbol -->
      <div
        class="subscribed-text"
        *ngIf="isSubscribed(subject.id); else subscribeButton"
      >
        <span>✅ Abonné</span>
      </div>

      <!-- If not subscribed, show the 'Subscribe' button -->
      <ng-template #subscribeButton>
        <button
          mat-raised-button
          class="subscribe-button"
          (click)="subscribe(subject.id)"
        >
          S’abonner
        </button>
      </ng-template>
    </div>
  </mat-card>
</div>
