<!-- Arrow button that navigates to the 'feed' page -->
<button mat-icon-button routerLink="/feed">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="container">
  <span><strong>Créer un nouvel article</strong></span>

  <!-- Form for creating a subject -->
  <form (ngSubmit)="createArticle()">
    <!-- Select for choosing a subject -->
    <mat-form-field appearance="outline">
      <mat-label>Sélectionner un thème</mat-label>
      <mat-select [(ngModel)]="article.subjectId" name="subjectId">
        <mat-option *ngFor="let subject of subjects" [value]="subject.id">{{
          subject.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Input field for the article title -->
    <mat-form-field appearance="outline">
      <mat-label>Titre de l’article</mat-label>
      <input matInput [(ngModel)]="article.title" name="title" />
    </mat-form-field>

    <!-- Textarea for the article content -->
    <mat-form-field appearance="outline">
      <mat-label>Contenu de l’article</mat-label>
      <textarea
        matInput
        [(ngModel)]="article.content"
        name="content"
      ></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Créer</button>
  </form>
</div>
