<button mat-icon-button routerLink="/feed">
  <mat-icon>arrow_back</mat-icon>
</button>

<!-- Display the article only if it exists -->
<div class="article-container" *ngIf="article">
  <div class="article-content">
    <h2>{{ article.title }}</h2>
    <!-- Article metadata: date, author, subject -->
    <p>
      <strong>Date:</strong>
      {{ article.createdAt | date : "dd/MM/yyyy à HH:mm" }} |
      <strong>Auteur:</strong> {{ article.author.username }} |
      <strong>Thème:</strong>
      {{ article.subject.name }}
    </p>
    <p>{{ article.content }}</p>
  </div>

  <hr />
  <mat-divider></mat-divider>

  <div class="comments-container">
    <h3>Commentaires</h3>
    <!-- List of comments -->
    <div *ngFor="let comment of comments" class="list-comments">
      {{ comment.author.username }}
      <p class="comment">{{ comment.content }}</p>
    </div>

    <!-- Input area to write a new comment -->
    <div class="comment-input">
      <mat-form-field>
        <textarea
          matInput
          placeholder="Écrivez ici votre commentaire"
          [(ngModel)]="newComment"
        ></textarea>
      </mat-form-field>
      <button mat-icon-button class="send-comment" (click)="addComment()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
